$primary-color: #01a89e;

$fm-primary: "Barlow";
$fm-secondary: "Barlow Semi Condensed";

// Override materialize
$input-border-color: $primary-color;

@import "~materialize-css/sass/materialize.scss";

body {
	font-family: $fm-secondary, sans-serif;
	color: $primary-color;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-family: $fm-primary;
}

// Custom classes
.primary-text {
	color: $primary-color;
}

.logo {
	&--center {
		margin-left: 0;
		.logo__img {
			margin-top: 1.5rem;
			width: 17.5rem;
		}
	}
}

.regular-title {
	margin-top: 3rem;
	font-weight: 500;
	font-size: 2.25rem;
}
.form {
	margin: auto;
	padding: 1.5rem;
	max-width: 500px;
	&__error-box {
		padding: 0.25rem;
		> * {
			margin: 0;
		}
	}
	&__btn {
		margin-top: 1rem;
	}
	&__bottom-text {
		font-size: 1.125rem;
		> a {
			color: $primary-color;
			font-weight: 600;
		}
	}
}
