$primary-color: #01a89e;

$fm-primary: "Barlow";
$fm-secondary: "Barlow Semi Condensed";

$side-space: 2rem;

// Override materialize
$input-border-color: $primary-color;
$navbar-height: auto;
$navbar-height-mobile: auto;
$navbar-line-height: inherit;
$navbar-line-height-mobile: inherit;
$navbar-font-size: auto;
$navbar-brand-font-size: auto;

@import "~materialize-css/sass/materialize.scss";

body {
	font-family: $fm-secondary, sans-serif;
	color: $primary-color;
}
nav {
	background-color: transparent;
	box-shadow: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-family: $fm-primary;
}
a {
	color: $primary-color;
}

// Custom classes
// General
.custom-container {
	margin: 1.5rem $side-space;
}

// NavBar
.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	&__logo {
		width: 11rem;
	}
	&--centered {
		justify-content: center;
		.navbar__logo {
			margin-top: 1.5rem;
			width: 13rem;
		}
	}
}

// Activity table
.activity-table {
	margin: 1rem 0;
	max-height: 45vh;
	overflow: scroll;
	&__head {
		position: sticky;
		top: 0;
		color: white;
		background-color: $primary-color;
	}
	&__th {
		border-radius: 0;
	}
	&--full {
		max-height: 68vh;
	}
}

// Home
.balance-box {
	&__money {
		font-size: 2.5rem;
		font-family: $fm-primary;
		font-weight: 600;
		margin-bottom: 0;
	}
	&__title {
		font-size: 1.5rem;
		font-weight: 500;
	}
}
.resume {
	margin-top: 1.5rem;
	&__title {
		font-size: 1.5rem;
	}
	&__link {
		font-size: 1.25rem;
		font-weight: 600;
	}
}

// Activities
.activity-filter {
	margin-top: 1rem;
	&__title {
		font-size: 1.5rem;
	}
}

// Login and Register
.regular-title {
	margin-top: 3rem;
	margin-bottom: 1.5rem;
	font-weight: 500;
	font-size: 1.5rem;
}
.form {
	margin: auto;
	max-width: 500px;
	&__error-box {
		padding: 0.25rem;
		> * {
			margin: 0;
		}
	}
	&__btn {
		margin-top: 1rem;
	}
	&__bottom-text {
		font-size: 1.125rem;
		> a {
			color: $primary-color;
			font-weight: 600;
		}
	}
}

@media #{$medium-and-up} {
	.navbar {
		&__logo {
			width: 15rem;
		}
		&--centered {
			.navbar__logo {
				width: 17.5rem;
			}
		}
	}
	.regular-title {
		font-size: 2.25rem;
	}
}
